layout {
    floating_panes {
        pane {
            plugin location="file:target/wasm32-wasip1/release/session-manager-plus.wasm"
            width "60%"
            height "60%"
            x "20%"
            y "20%"
        }
    }
}
